
.denuncia:hover {
  background-color: #363535;
}

.botonesEdit {
  padding: 5px 15px;
  background-color: rgb(245, 151, 151);
  border-radius: 5px;
  color: red;
  border-color: rgb(245, 151, 151);
}

.botonesMegusta {
  padding: 5px 15px;
  background-color: rgb(167, 167, 245);
  border-radius: 5px;
  color: blue;
  border-color: rgb(167, 167, 245);
}

.botonesMegusta:active {
  background-color: azure;
}

.opcion {
  font-size: 15px;
}

.stat-cards-icon{
  width: 35px !important; 
  height: 35px !important; 
}

thead {
  text-align: center;
}

tbody {
  text-align: center;
  border-collapse: collapse;
}

.users-table td {
  padding-left: 15px;
  padding-right: 15px;
}

